<div>
    Bonjour {{ app.user.username }}! - <span class="logout"><a href="{{ path('fos_user_security_logout') }}">Logout</a></span>
</div>

<div>
    <div class="dashboard_header">Dernieres propositions</div>

</div>

<div>
    <div class="dashboard_header">Derniers CV enregistrés</div>

</div>

